table thead tr th{
  font-weight: bold!important;
    font-size: 14px!important;
    
}
label,
td,
form p{
  color: rgba(0,0,0, 0.87)!important;
  font-size: 13px!important;
}
td,th{
  text-align: center;
}
td input{
  background-image: none!important;
}
.subtitle{
  font-weight: bold!important;
  font-size: 14px!important;
}
textarea{
  border: 1px solid #D2D2D2!important;
  background-image: none!important;
}
@media (min-width: 992px){
.card form [class*="col-"]:first-child {
    padding-left: 0!important;
}
}
 ol{
  display: flex;
  justify-content: space-around;
}
.text-bold{
  font-weight: bold!important
}
.d-flex {
  display: flex;
  justify-content: space-evenly;
}
.ml-3{
  margin-left: 20px!important;
}